{deps, [
    {base64url, {git, "https://github.com/dvv/base64url.git", {tag, "v1.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {testutils, {git, "https://github.com/relayr/pdm-erl-testutils.git", {branch, "master"}}}
        ]}
    ]}
]}.

{cover_enabled, true}.
